body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-image: url("../images/bg.png");
  backdrop-filter: blur(8px);
  background-size: 100%;
}

.outer-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 30vh !important;
}

button {
  margin-right: 5px !important;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
