<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GGVault</title>
  <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="static/js/login.js"></script>
  <script src="static/js/create.js"></script>
  <script src="static/js/auth.js"></script>
</head>

<body onload="authLogin();">
  <div class="outer-container">
    <div class="container jumbotron title">
      <h1 class="display-4">GGVault</h1>
      <p class="lead">This is a simple website to give gamers the ability to keep track of the games they own.</p>
    </div>
    
    <div class="container jumbotron login">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-login-tab" data-bs-toggle="tab" data-bs-target="#nav-login" type="button" role="tab" aria-controls="nav-login" aria-selected="false">Login</button>
          <button class="nav-link" id="nav-create-tab" data-bs-toggle="tab" data-bs-target="#nav-create" type="button" role="tab" aria-controls="nav-create" aria-selected="true">Create Account</button>
        </div>
      </nav>
      
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
          <form class="account-form">
            <p id="login-error" class="error" hidden>Invalid username or password. Please try again or create an account.</p> 
            <h1 class="display-6">Login</h1>
            <br>
            <div class="form-group">
              <input class="form-control" id="user-input-login" aria-describedby="userHelp" oninput="resetUserLogin()" placeholder="Username" required>
            </div>
            <br>
            <div class="form-group">
              <input type="password" class="form-control" id="pass-input-login" oninput="resetPassLogin()" aria-describedby="userHelp" placeholder="Password" required>
            </div>
          </form>
          <button type="submit" class="btn btn-primary" onclick="sendLogin();">Submit</button>
        </div>
        
        <div class="tab-pane fade" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
          <form class="account-form">
            <p id="create-success" class="success" hidden>Your account was created successfully. Please try logging in.</p> 
            <p id="create-error" class="error" hidden>Your username/password do not meet the criteria or is already taken. Please try a different username/passowrd.</p> 
            <h1 class="display-6">Create Account</h1>
            <div class="form-group">
              <small id="userHelp" class="form-text text-muted">Usernames must be between 1 and 20 characters</small>
              <input class="form-control" id="user-input-create" oninput="resetUserCreate();" aria-describedby="userHelp" placeholder="Username" required>
            </div>
            <div class="form-group">
              <small id="passHelp" class="form-text text-muted">Passwords must be between 5 and 36 characters</small>
              <input type="password" class="form-control" oninput="resetPassCreate();" id="pass-input-create" aria-describedby="userHelp" placeholder="Password" required>
            </div>
          </form>
          <button type="submit" class="btn btn-primary" onclick="sendCreate();">Submit</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>